{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block contenu %}

    <div class="container">
        <h1>Mon profil</h1>
        {{ form_start(formulaireProfile) }}
        <div class="row">

            <div class="col">
                {{ form_row(formulaireProfile.pseudo) }}
            </div>
            <div class="col">
                {{ form_row(formulaireProfile.telephone) }}
            </div>
            <div class="col">
                {{ form_row(formulaireProfile.email) }}
            </div>
            <div class="col">
                {{ form_row(formulaireProfile.photo) }}
            </div>

        </div>
        {{ form_rest(formulaireProfile) }}

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-success rounded mx-auto d-block" type="submit">Enregistrer</button>

            <a href="{{ path('app_mdp_modifier') }}" class="btn btn-primary rounded mx-auto d-block" type="submit">Modifier mot de passe</a>
        </div>




        {{ form_end(formulaireProfile) }}
    </div>

{% endblock %}
