{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block contenu %}

    <div class="container">
        {#        <img class="rounded mx-auto d-block" src="{{ asset('formu+agent.png') }}" alt="Symfony!"/> #}
        <div>
            {% if participants is not null %}
                <h1> {{ participants.pseudo }}</h1>
                <label>Prénom : {{ participants.prenom }}</label><br>
                <label>Nom : {{ participants.nom }}</label><br>
                <label>Téléphone : {{ participants.telephone }}</label><br>
                <label>Email : {{ participants.email }}</label><br>
                <label>{{ participants.photo }}</label><br>
                <a href="{{ path('app_accueil') }}" class="btn btn-primary">Retour</a>
                {% if app.user.id == participants.id %}
                    <a href="{{ path('app_profile_modifier')}}" class="btn btn-primary"> modifier</a>
                {% else %}
                    <br>
                {% endif %}
            {% endif %}
        </div>

    </div>

{% endblock %}
