{% extends 'admin/base.html.twig' %}

{% block title %}Hello VilleController!{% endblock %}

{% block contenu %}
    <div class="container">

{#        <img class="rounded mx-auto d-block" src="{{ asset('formu+agent.png') }}" alt="Symfony!"/>#}
        {{ form_start(formulaireVille) }}
        <div class="row">
            <div class="col">
                {{ form_row(formulaireVille.nom_ville) }}
            </div>
            <div class="col">
                {{ form_row(formulaireVille.code_postal) }}
            </div>
        </div>
        {{ form_rest(formulaireVille) }}
        {% if app.request.get('_route') == 'app_admin_ville_ajouter' %}
            <div class="example-wrapper">
                <button class="btn btn-success rounded mx-auto d-block" type="submit">Ajouter</button>
            </div>
        {% else %}
            <div class="example-wrapper">
                <button class="btn btn-success rounded mx-auto d-block" type="submit">Modifier</button>
            </div>
        {% endif %}

        {{ form_end(formulaireVille) }}
    </div>
{% endblock %}
