{% extends 'base.html.twig' %}

{% block title %}Hello SiteController !{% endblock %}

{% block contenu %}

    <div class="container">
        <h1>Créer une sortie</h1>
        {#        <img class="rounded mx-auto d-block" src="{{ asset('formu+agent.png') }}" alt="Symfony!"/> #}
        <div class="row gx-1 ">


            <div class="col-md-6">
                {{ form_start(formulaireSortie) }}
                <div class="col">
                    {{ form_row(formulaireSortie.nom) }}
                </div>
                <div class="col">
                    {{ form_row(formulaireSortie.datedebut) }}
                </div>
                <div class="col">
                    {{ form_row(formulaireSortie.datecloture) }}
                </div>
                <div class="col">
                    {{ form_row(formulaireSortie.nbinscriptionsmax) }}
                </div>
                <div class="col">
                    {{ form_row(formulaireSortie.duree) }}
                </div>
                <div class="col">
                    {{ form_row(formulaireSortie.descriptioninfos) }}
                </div>
            </div>

            <div class="col-md-6">
                <div class="col">
                    {{ form_row(formulaireSortie.participant) }}
                </div>
                <div class="col">
                    {{ form_row(formulaireSortie.etablissement) }}
                </div>
                <div class="col">
                    {{ form_row(formulaireSortie.urlPhoto) }}
                </div>
                <div class="col">
                    {{ form_row(formulaireSortie.lieux) }}
                </div>

            </div>

        </div>
        {% if app.request.get('_route') == 'app_sortie_ajouter' %}
            <div class="example-wrapper">
                <button class="btn btn-success rounded mx-auto d-block" type="submit">Ajouter</button>
            </div>
        {% else %}
            <div class="example-wrapper">
                <button class="btn btn-success rounded mx-auto d-block" type="submit">Modifier</button>
            </div>
        {% endif %}

        {{ form_end(formulaireSortie) }}
    </div>

{% endblock %}
