{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block contenu %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Sortir.com</h1>

    <select class="form-select" aria-label="Default select example">

        {% for site in sites %}

        <option selected>{{ site.NomSite }}</option>

        {% endfor %}
    </select>

    <table class="table table-dark">
        <thead>
        <tr>
            <td>Nom de la sortie</td>
            <td>Date de la sortie</td>
            <td>Clôture</td>
            <td>Inscrits/places</td>
            <td>Inscrit</td>
            <td>Organisateur</td>
            <td>Actions</td>
        </tr>
        </thead>
        {% for sortie in sorties %}
        <tbody>
        <tr>
            <td>{{ sortie.nom }}</td>
            <td>{{ sortie.datedebut | date("d/m/Y")}}</td>
            <td>{{ sortie.datecloture | date("d/m/Y") }}</td>
            <td>{{ sortie.nbinscriptionsmax }}</td>
            <td>X</td>
            <td>Organisateur 1</td>
            <td>Actions</td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
{% endblock %}
