{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block contenu %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div class="float-right">
    Date du jour : {{ 'now'|date('d/m/Y') }}<br>
    <p>Participant :

        {% if app.user %}
            {{ app.user.prenom }} {{ app.user.nom|first }}.
        {% else %}
            {{ '' }}
        {% endif %}


    </div>
<div class="example-wrapper">


    <h1>Sortir.com</h1>
    Filtrer les sites :
    <select class="form-select" aria-label="Default select example">

        {% for site in sites %}

        <option selected>{{ site.NomSite }}</option>

        {% endfor %}
    </select>

    <table class="table table-dark">
        <thead>
        <tr>
            <td>ID</td>
            <td>Nom de la sortie</td>
            <td>Date de la sortie</td>
            <td>Clôture</td>
            <td>Inscrits/places</td>
            <td>Etat</td>
            <td>Inscrit</td>
            <td>Organisateur</td>
            <td>Actions</td>
        </tr>
        </thead>
        {% for sortie in sorties %}
        <tbody>
        <tr>
            <td>{{ sortie.id }}</td>
            <td>{{ sortie.nom }}</td>
            <td>{{ sortie.datedebut | date("d/m/Y")}}</td>
            <td>{{ sortie.datecloture | date("d/m/Y") }}</td>
            <td>{{ sortie.nbInscriptionsMax }}</td>
            <td>{{ sortie.état }}</td>
            <td>X</td>
            <td>{{ sortie.participant }}</td>
            <td>Actions</td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
{% endblock %}
