{% extends 'admin/base.html.twig' %}

{% block title %}Hello SiteController !{% endblock %}

{% block contenu %}
    <div class="container">

        {#        <img class="rounded mx-auto d-block" src="{{ asset('formu+agent.png') }}" alt="Symfony!"/>#}
        {{ form_start(formulaireSite) }}
        <div class="row">
            <div class="col">
                {{ form_row(formulaireSite.nom_site) }}
            </div>
        </div>
        {{ form_rest(formulaireSite) }}
        {% if app.request.get('_route') == 'app_admin_site_ajouter' %}
            <div class="example-wrapper">
                <button class="btn btn-success rounded mx-auto d-block" type="submit">Ajouter</button>
            </div>
        {% else %}
            <div class="example-wrapper">
                <button class="btn btn-success rounded mx-auto d-block" type="submit">Modifier</button>
            </div>
        {% endif %}

        {{ form_end(formulaireSite) }}
    </div>
{% endblock %}
