{% extends 'admin/base.html.twig' %}

{% block title %}Hello SiteController !{% endblock %}

{% block contenu %}
    <div class="container">
        <h1></h1> <br>
        {#        <img class="rounded mx-auto d-block" src="{{ asset('formu+agent.png') }}" alt="Symfony!"/> #}
        <div>
            {% for participant in participants %}
                <h1> {{ participant.pseudo }}</h1>
                {{ participant.prenom }}<br>
                {{ participant.nom }}<br>
                {{ participant.telephone }}<br>
                {{ participant.email }}<br>
                {{ participant.photo }}<br>
                <a href="{{ path('app_admin_participant') }}" class="btn btn-primary">Retour</a>
            {% endfor %}
        </div>

    </div>
{% endblock %}
